@import (reference) "elements.less";
@import (reference) "flexbox.less";

@nav-color: rgb(76, 105, 121);
@border-width: 2px;
@mobile-border-width: 5px;
@border-color: rgb(29, 54, 53);
@application-color: rgb(30, 38, 42);
@backdrop-color: lighten(black, 10%);
@desktop-dim: 85%;
@mobile-dim: 98%;
@nav-height: 40px;
@nav-padding: 5px;
@mobile-multiplier: 5;
@console-padding: @nav-padding;
@input-height: 20px;

html {
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body:extend(html) {
  background-color: @backdrop-color;
}

.center() {
  margin-left: auto;
  margin-right: auto;
}

.desktop(@rules) {
  @media screen and (min-width: 481px) {
    @rules();
  }
}

.mobile(@rules) {
  @media only screen and (max-device-width: 480px) {
    @rules();
  }
}

.hfill(@percent: 100%) {
  width: @percent;
}

.vfill(@percent: 100%) {
  height: @percent;
}

.fill(@percent: 100%) {
  .hfill(@percent);
  .vfill(@percent);
}

.application {
  font-family: arial;
  background-color: @application-color;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  color: white;
  .desktop({
    position: relative;
    top: 35%;
    .transform(translateY(-35%));
    font-size: 1em;
    .fill(@desktop-dim);
  });
  .mobile({
    font-size: 2em;
    .fill(@mobile-dim);
  });
}

#app {
  .vfill();
}

.nav {
  background-color: @nav-color;
  .border-radius(5px, 0px, 0px, 5px);
  border: @border-width solid @border-color;
  border-bottom: none;
  vertical-align: middle;
  .desktop({
    font-size: 2em;
    border: @border-width solid @border-color;
    padding: @nav-padding;
    .vfill(@nav-height);
  });
  .mobile({
    font-size: 3em;
    border: @mobile-border-width solid @border-color;
    padding: @nav-padding*@mobile-multiplier;
    .vfill(@nav-height*@mobile-multiplier*3/5);
  });
}

.console {
  .desktop({
    .vfill(calc(~'100% - @{nav-height} - @{nav-padding}*2 - @{console-padding}*2 - @{input-height} - @{border-width}*5'));
    padding: @console-padding;
    border: @border-width solid @border-color;
  });
  .mobile({
    border: @mobile-border-width solid @border-color;
    .vfill(calc(~'100% - @{nav-height}*@{mobile-multiplier}*3/5 - @{nav-padding}*@{mobile-multiplier}*2 - @{console-padding}*@{mobile-multiplier}*2 - @{input-height}*@{mobile-multiplier} - @{mobile-border-width}*5'));
    padding: @console-padding*@mobile-multiplier;
    font-size: 1.8em;
  });
}

.input {
  .desktop({
    .vfill(@input-height);
  });
  .mobile({
    .vfill(@input-height*@mobile-multiplier);
  });
  .border-radius(0px, 5px, 5px, 0px);
  border: 2px solid lighten(@border-color, 10%);
  & input {
    .center();
    border: none;
    padding: 0px;
    .hfill();
    .vfill();
    .desktop({
      font-size: 1.2em;
    });
    .mobile({
      font-size: 2em;
    });
    background-color: @backdrop-color;
    color: white;
    .transition-duration(0.2s);

    &:focus, &:focus:hover {
      background-color: lighten(@backdrop-color, 20%);
    }
    &:hover {
      background-color: lighten(@backdrop-color, 5%);
    }
  }
}
