@application-color: rgb(76, 105, 121);
@border-width: 0px;
@mobile-border-width: 0px;
@border-color: rgb(29, 54, 53);
@nav-color: rgb(30, 38, 42);
@backdrop-color: lighten(black, 10%);
@desktop-dim: 85%;
@action-height: 40px;
@mobile-action-height: @action-height*@mobile-multiplier;
@mobile-dim: 100%;
@console-width: 100%;
@nav-height: 50px;
@nav-padding: 5px;
@nav-border: 0px;
@nav-block-height: @nav-height + 2*@nav-padding + 2*@nav-border;
@mobile-nav-height: @nav-height*3;
@mobile-nav-border: @nav-border*3;
@mobile-nav-padding: @nav-padding*5;
@mobile-nav-block-height: @mobile-nav-height + 2*@mobile-nav-padding + 2*@mobile-nav-border;
@mobile-multiplier: 5;
@action-bar-mobile-multiplier: 3;
@console-padding: @nav-padding;
@console-border-width: @border-width;
@mobile-console-padding: @console-padding*@mobile-multiplier;
@mobile-console-border-width: @console-border-width*@mobile-multiplier;
@send-padding: @nav-padding;
@input-height: 35px;
@mobile-input-height: @input-height*3;
@input-block-height: @input-height + @action-icon-size + @input-border-width*2;
@mobile-input-block-height: @mobile-input-height + @mobile-action-icon-size + @mobile-input-border-width*2;
@input-color: @backdrop-color;
@input-border-width: 5px;
@mobile-input-border-width: 15px;
@input-border-color: lighten(@backdrop-color, 10%);
@input-padding: 0px;
@mobile-input-padding: 0px;
@action-icon-size: @action-height - @input-padding*2 - @input-border-width*2;
@mobile-action-icon-size: @mobile-action-height - @mobile-input-padding*2 - @mobile-input-border-width*2;
@nav-icon-size: @action-icon-size;
@mobile-nav-icon-size: @action-icon-size*5;
